body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    color: white;
}

.newGridContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

button {
    font-size: 18pt;
    border-radius: 1rem;
}

#colorPicker {
    margin-right: 35px;
    transform: scale(2);
}

.etchOuter {
    display: flex;
    justify-content: center;
}

.etchArea {
    display: flex;
    justify-content: center;
    padding: 100px;
    background-color: hsl(360, 80%, 40%);
    border-radius: 30px;
}

button {
    padding: 15px;
    margin: 25px;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius: 3px;
    background-color: lightgrey;
    height: 800px;
    width: 1200px;
}

.yAxis {
    display: flex;
    flex-grow: 100;
    min-height: 0px;
    min-width: 0px;
}

.block {
    display: flex;
    flex-grow: 100;
    min-height: 0px;
    min-width: 0px;
}